body {
    margin: 0;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr;
    grid-template-rows: 1fr 4fr 3fr 2fr;
    height: 100vh;
}

main {
    background-color: bisque;
    /*
    variant 1 (longest:

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    */

    /*
    variant 2 (shorter)

    grid-column: 1 / 3;
    grid-row: 1 / 3;
    */

    /*
    variant 3 (shortest)
    */
    grid-area: 1 / 1 / 3 / 3;
}

section.nom {
    background-color: aqua;
    grid-area: 3 / 1 / 4 / 2;
}

section.yum {
    background-color: aquamarine;
    grid-area: 3 / 2 / 4 / 3;
}

footer {
    background-color: burlywood;
    grid-area: 4 / 1 / 5 / 3;
}

header {
    background-color: cadetblue;
    grid-area: 1 / 3 / 2 / 4;
}

aside {
    background-color: cornsilk;
    grid-area: 2 / 3 / 5 / 4;
}
